<div [hidden]="hiddenMenu">
    <br><br>
    <img src="assets/img/panel/inf.png" alt="" style="width: 50%; display: block; margin: auto;" >
    <br><br><br><br>
</div>
<!--------------------------------Menu-->
<div class="row justify-content-center" style="margin-right: 1px"  [hidden]="hiddenMenu">
    <div *ngFor='let categoria of menuElements' >
        <div class="col-sm-3">
            <div class="about-item scrollpoint sp-effect2"  >
                <div style="text-align: center;" class="img-menu">
                    <a href="#" data-toggle="modal" data-target="rts" (click)="subCat(categoria.id_panel)"><img src="{{categoria.url_image}}" style="width: 50%" alt=""></a>
                    <h2 >{{categoria.name}} <br> {{categoria.subTitle}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------------Sub Menu-->
<div style="width: 70%">
    <div class="row justify-content-center" style="margin-right: 1px"  [hidden]="hiddenMenuAux">
        <div *ngFor='let categoria of subElements'>
            <div class="col-sm-4">
                <div class="about-item scrollpoint sp-effect2">
                    <div style="text-align: center;" class="img-menu">
                        <a href="#" data-toggle="modal" data-target="rts" (click)="subCat(categoria.id_panel)"><img src="{{categoria.url_image}}" style="width: 50%" alt="" ></a>
                        <h2 >{{categoria.name}} <br> {{categoria.subTitle}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Button-a-Home-->
<div class="div-home" [hidden]="hiddenMenuAux">
    <button class="home-button" (click)="menuHome()"><img src="assets/img/panel/home.png" width="100px"></button>
</div>

<!--Panel-Informacion-->

<div *ngIf="panelItemUni.url_pdf">       
    <iframe  [src]='pdfLink' frameborder="0" width="70%" height="850">
        <p> 
        Este navegador no est&aacute; configurado para mostrar PDF. Utiliza la opci&oacute;n enviar a correo<a href="https://www.impuestos.gob.bo/ckeditor/plugins/imageuploader/uploads/16409631a3.pdf">Click aqu&iacute; para descargar el PDF.</a> 
        </p>
    </iframe>  
</div>

<div id="container" style="background: aqua" hidden>
    <input type="text" id="write" >
    <ul id="keyboard">
        <li class="symbol"><span class="off">@</span><span class="on">~</span></li>
        <li class="symbol"><span class="off">1</span><span class="on">!</span></li>
        <li class="symbol"><span class="off">2</span><span class="on">@</span></li>
        <li class="symbol"><span class="off">3</span><span class="on">#</span></li>
        <li class="symbol"><span class="off">4</span><span class="on">$</span></li>
        <li class="symbol"><span class="off">5</span><span class="on">%</span></li>
        <li class="symbol"><span class="off">6</span><span class="on">^</span></li>
        <li class="symbol"><span class="off">7</span><span class="on">&amp;</span></li>
        <li class="symbol"><span class="off">8</span><span class="on">*</span></li>
        <li class="symbol"><span class="off">9</span><span class="on">(</span></li>
        <li class="symbol"><span class="off">0</span><span class="on">)</span></li>
        <li class="symbol"><span class="off">-</span><span class="on">_</span></li>
        <li class="symbol"><span class="off">=</span><span class="on">+</span></li>
        <li class="delete lastitem">Borrar</li>
        <li class="tab">tab</li>
        <li class="letter">q</li>
        <li class="letter">w</li>
        <li class="letter">e</li>
        <li class="letter">r</li>
        <li class="letter">t</li>
        <li class="letter">y</li>
        <li class="letter">u</li>
        <li class="letter">i</li>
        <li class="letter">o</li>
        <li class="letter">p</li>

        <li class="symbol lastitem"><span class="off">\</span><span class="on">|</span></li>
        <li class="capslock">caps lock</li>
        <li class="letter">a</li>
        <li class="letter">s</li>
        <li class="letter">d</li>
        <li class="letter">f</li>
        <li class="letter">g</li>
        <li class="letter">h</li>
        <li class="letter">j</li>
        <li class="letter">k</li>
        <li class="letter">l</li>
        <li class="letter">ñ</li>
        <li class="symbol"><span class="off">'</span><span class="on">&quot;</span></li>
        <li class="return lastitem">return</li>
        <li class="left-shift">shift</li>
        <li class="letter">z</li>
        <li class="letter">x</li>
        <li class="letter">c</li>
        <li class="letter">v</li>
        <li class="letter">b</li>
        <li class="letter">n</li>
        <li class="letter">m</li>
        <li class="symbol"><span class="off">,</span><span class="on">&lt;</span></li>
        <li class="symbol"><span class="off">.</span><span class="on">&gt;</span></li>
        <li class="symbol"><span class="off">/</span><span class="on">?</span></li>
        <li class="right-shift lastitem">shift</li>
    </ul>
</div>